/* nav {outline:1px dashed red;} */
body {
	background-color: #FFEC9F;
	font-family: sans-serif;
	width: 90%;
	max-width: 960px;
	margin: auto;
}

header {
	text-align: center;
	background-image: url("../images/intro.jpg");
	background-size: 100% 100%;
}

header h1{
	padding: 2% 0 0 0;
	color: #FFEC9F;
}

header nav{
	text-align: center;
}

header nav img:hover{
	transform: scale(1.2);
}

nav ul {
	display:inline-block;
	list-style-type: none;
}

nav li {
	display:inline;
}

table,th,td {
	border: 1px solid silver;
	border-collapse: collapse;
}

thead tr,tfoot tr {
	color: white;
	background-color: gray;
}

td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}

tbody tr:nth-child(odd) {
	background-color: #E6E6E6;
}

tbody tr:hover {
	background-color: #FFEC9F;
}

dt {
	float: left;
	width: 15em;
}

dd {
	margin-left: 15em;
	font-weight: bold;
}